body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #003366, #f0f8ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    padding: 20px;
    text-align: center;
}

    .login-container h1 {
        color: #003366;
        margin-bottom: 20px;
    }

    .login-container img {
        width: 100px;
        margin-bottom: 20px;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 45.5%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container button {
        background-color: #003366;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }

        .login-container button:hover {
            background-color: #00509e;
        }

    .login-container a {
        color: #003366;
        text-decoration: none;
        font-size: 14px;
    }

        .login-container a:hover {
            text-decoration: underline;
        }

.links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
